body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.5;
  }
  
  #title {
    margin-left: 10px;
    font-weight: bold;
  }
  
  #navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9e6cf5;
    color: white;
    padding-right: 20px;
    /* box-shadow: 0px 0px 3px 1px #9e6cf5; */
  }
  
  @media (max-width: 800px) {
    #navbar {
    width: 100%;
    height: 260px;
  }
  }
  #navbar li{
    list-style: none;
  }
  
  #navbar a {
   text-decoration: none;
    background: none;
    width: 100%;
    display: block;
    color: white;
    font-size: 18px;
  }

  #navbar a:hover {
    font-weight: bold;
  }
  
  @media (max-width: 800px) {
    #main-doc {
      margin-top: 270px;
    }
  }
  
  .main-section {
   margin-left:  280px;
  }
  
  @media (max-width: 800px) {
    .main-section {
      margin-left: 0px;
  /*     margin-top: 250px; */
    }
  }
  
  header {
    font-size: 1.6em;
  }
  
  #note {
    background-color: silver;
    opacity: .6;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
  }